.log{
	
	width:200px;
	padding-left:30px;
}
.bod{
	
	height:92vh;
	background-image: url(./back.png);
	background-repeat:no-repeat;
	background-size:cover;
	
}

.form input[type='text']{
	width:320px;
	padding:8px;
	box-shadow: 0px 6px 15px #00000029;
	border:none;
	border-radius: 4px;
}
.form input[type='submit']{
	width:100px;
	padding:8px;
	background-color:#F09F19;
	color:#FFFFFF;
	border-radius: 4px;
	border:none;
}

.footer{
	
	display:flex;
	
}

.footer p{
	
	padding:5px;
	
}

.para{color:#F09F19;}